* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root {
   --font-family: 'poppins', sans-serif;
}

body {
  color: whitesmoke;
  background-color: #000000;
  font-family: Arial;
}


.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/* 
--------------------------------------------------
NAV BAR AND HERO SECTION
--------------------------------------------------

*/

/* #---------------NAV-LIST---------------#*/

.nav-list {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0px;
  position: relative;
  top: 0;
  background: linear-gradient(to right, #004100, #3b003b);
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  color: silver;
}

.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  column-gap: 4rem;
}

.gamma-logo {
  width: 100%;
  max-width: 80px;
}

/* .nav {
  max-width: 1200px;
} */



/* #---------------HERO---------------#*/

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.hero-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 800px;
  opacity: 0.15;
}

.hero-header {
  text-align: left;
  font-size: 3.7rem;
  line-height: 1.3;
  letter-spacing: 0.3px;
}

.gamma-img {
  width: 100%;
  max-width: 550px;
}

.hero-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  row-gap: 2rem;
  text-align: left;
}

.p-nav {
  font-size: 1rem;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.p-nav2 {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 100;
  color: silver;
  font-family: verdana;
}

.valentine {
  /* background-color: rgba(193, 255, 169, 0.856); */
  color: silver;
  font-size: 1.6rem;
  padding: 0 20px;
  font-weight: bold;
}

.front-end {
  color: lime;
} 

.web-designer {
  color:  #bd00bd;
}