/* 
--------------------------------------------------
ACHIEVEMENTS GRID
--------------------------------------------------

*/

.achievements-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  justify-items: center;
}

.achievements-flex {
  width: 16rem;
  height: 16rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  row-gap: 1rem;
  border-radius: 2rem;
  border: 0.1rem solid #6b006b5e;
  transition: all 0.3s ease-in-out;
}

.achievements-img {
  max-width: 50px;
  width: 100%;
}

.achievements-p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  font-weight: 100;
  color: silver;
  font-family: verdana;
}

.achievements-h1 {
  letter-spacing: 0.3rem;
  font-size: 4rem;
  /* color: #ff77ff; */
}
/* 
--------------------------------------------------
SKILLS GRID
--------------------------------------------------
*/

.skills-journey-grid {
  max-width: 1300px;
  column-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 2rem ;
}

.skills {
  padding: 1.5rem 0rem;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
  margin: 4rem 0rem;
  background-color: #000a0091;
  border-radius: 2rem;
  border: 1px solid #6b006b5e;
  box-shadow: 0px 2px 4px #140014;
  /* background: linear-gradient(225deg, #001100, #140014); */
}

.skills-img {
  align-self: center;
  max-width: 60px;
  width: 100%;
}

.h1-skills {
  grid-column: span 2;
  font-size: 2rem;
  align-self: stretch;
  color: rgba(245, 245, 245, 0.774);
}


/* 
--------------------------------------------------
JOURNEY GRID
--------------------------------------------------
*/

.journey-grid {
  column-gap: 2rem;
  row-gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 3;
  justify-items: center;
  align-items: center;
  border-radius: 2rem;
  margin: 4rem 0rem;
  padding: 0rem 1.5rem;
  column-gap: 1rem;
  border: 1px solid #6b006b5e;
  box-shadow: 0rem 2rem 4rem #140014;
}

.journey-img {
  grid-column: span 1;
  width: 200px;
  height: 160px;
  border-radius: 2rem;
}

.journey-paragraph {
  grid-column: span 3;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgb(179, 178, 178);
  font-weight: 100;
}

.img-switch {
    grid-column:4/5 ;
    grid-row: 2/3;
}



/* 
--------------------------------------------------
PROJECTS GRID
--------------------------------------------------

*/

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
  margin: 0rem 2rem 8rem;

}

.project-item-grid {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #00110091;
  border: 0.1rem solid #6b006b5e;
  box-shadow: 0rem 0.2rem 0.4rem #140014;
  background: linear-gradient(225deg, #0011009d, #140014ad);
  transition: all 0.3s ease-in-out;

}

.project-item-flex {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  row-gap: 1rem; 
}

.heading-projects {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: silver;
  text-align: center;
  margin-bottom: 2.5rem;
}

.project-item-img {
  width: 100%;
  max-width: 300px;
  border-radius: 2rem;
}

.project-item-heading {
  font-weight: 500;
  color: rgb(218, 218, 218);
  font-size: 1.5rem;
  letter-spacing: 0.2;
}

.project-item-paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgb(179, 178, 178);
  font-weight: 100;
}

/* 
--------------------------------------------------
TESTIMONIALS SECTION
--------------------------------------------------

*/
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  margin: 4rem 1rem 8rem 1rem;
  border-radius: 2rem;
}

.testimonials-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border-radius: 2rem;
  padding: 1rem 1.4rem;
  align-items: center;
  border: 0.1rem solid #6b006b5e;
  box-shadow: 0rem 0.2rem 0.4rem #140014;
  background: linear-gradient(225deg, #0011009d, #140014ad);
  transition: all 0.4s ease-in-out;

}

.testimonials-img {
  width: 100%;
  max-width: 100px;
}

.testimonials-paragraph {
  max-height: 7rem;
  overflow-y: hidden;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: rgb(179, 178, 178);
  font-weight: 100;
  letter-spacing: 0.1rem;
  min-height: 20rem;
}

.testimonials-heading {
  /* position: absolute; */
  /* bottom: 2rem; */
  font-weight: 500;
  color: rgb(218, 218, 218);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.heading-testimonials {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: silver;
  text-align: center;
  margin-bottom: 2.5rem;
}

/* --------------------------------------------------
CONTACT US & CALL TO ACTION
-------------------------------------------------- */

.call-to-action-grid {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom:10rem ;
  border-radius: 2rem;
  padding: 2rem 3rem;
  background-color: #00110091;
  border: 1px solid #6b006b5e;
  box-shadow: 0rem 0.2rem 0.4rem #140014;
  background: linear-gradient(225deg, #0011009d, #140014ad);
}

.cta-banner {
  grid-column: span 1;

}

.cta-banner-img {
  width: 100%;
  max-width: inherit;
}

.contact-me-item {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

/*------------- Form -------------*/

.cta-form-flex {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  row-gap: 2rem;
  justify-content: center;

}

.form-item {
  display: flex;
  border-radius: 2rem;
  padding: 0.2rem 1.6rem;
  color: rgb(0, 0, 0);
  background-color: rgb(197, 197, 197);
  column-gap: 1rem;
}

.input {
  border: none;
  background-color: rgb(197, 197, 197);
  width: 5rem;
  outline: none;
}

.form-user-name {
  width: 100%;
  max-width: 3rem;
}

.form-button {
  border-radius: 2rem;
  width: 14rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 1rem;
  color: rgb(179, 178, 178);
  font-weight: 200;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  border: none;
  background-color: #b900b98a;
}

.btn-btn {
  display: flex;
  justify-content: end;
  margin-right: 0.8rem;
}

.textarea-form-item {
  padding: 2rem 2rem;
  outline: none;
}