@media(max-width: 2560px) {
  .hamburger {
    display: none;
  }
  .footer-flex {
    font-size: 1.2rem;
  }
  .contact-me-flex-img {
    max-width: 2rem;
  }
  .contact-me-flex-paragraph {
    font-size: 1.2rem;
  }
  .social-link-img {
    max-width: 2rem;
  }
  .social-links-flex {
    column-gap: 4rem;
    padding: 0rem;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 60%;
  }
  .hamburger {
    display: none;
  }

  .hero-flex {
    row-gap: 0rem;
  }
  .p-nav {
    padding-bottom: 0.6rem;
  }
  .achievements-flex {
    width: 16rem;
    height: 14rem;
  }
  .achievements-h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
  .achievements-img {
    max-width: 40px;
  }
  .journey-paragraph {
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
  }
  .journey-grid {
    padding-top: 1rem;
    padding-bottom: 1rem;
    row-gap: 1rem;
  }
  .skills-img {
    max-width: 50px;
  }
  .text-area-form-item {
    padding: 1rem;
  }
  .call-to-action-grid {
    margin-bottom: 7rem;
  }
  .footer-flex {
    font-size: 1.2rem;
  }
  .contact-me-flex-img {
    max-width: 2rem;
  }
  .contact-me-flex-paragraph {
    font-size: 1.2rem;
  }
  .social-link-img {
    max-width: 2rem;
  }
  .social-links-flex {
    column-gap: 4rem;
    padding: 0rem;
  }
}



@media(max-width: 425px) {
  html {
    font-size: 20%;
  }

.hamburger {
  display: block;
  /* max-width: 12rem; */
}
#menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-bg {
  height: 15rem;
  /* display: none; */
}
.nav-list {
  font-size: 4rem;
  padding: 2rem 5rem;
}
.nav-contact-me {
  border: none;
  display: none;
}
.nav-links {
  opacity: 0;
  pointer-events: none; /* Prevents clicking when hidden */
  transform: translateY(-150px);
  transition: all 0.5s ease-in-out;

  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  height: 300px;
  padding: 20px;
  font-size: 8rem;
  background: linear-gradient(to right, #001800, #1a001a);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-links.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}


  .hero {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .gamma-img {
    grid-column: span 0;
    max-width: 65rem;
  }
  .gamma-logo {
    max-width: 24rem;
  }
  .hero-flex {
    grid-column: span 0;
    align-items: center;
  }
  .hero-header {
    text-align: center;
    font-size: 7rem;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
  }
  .p-nav, .valentine {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .p-nav2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 4rem;
  }


  .achievements-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }
  .achievements-flex {
    width: 44rem;
    height: 34rem;
  }
  .achievements-flex:hover {
    border: none;
    box-shadow: none;
    transform: none;
  }
  .achievements-img {
    max-width: 50px;
  }
  .achievements-p {
    font-size: 3rem;
  }
  .achievements-h1 {
    font-size: 5rem;
  }

  .skills-journey-grid {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(1, 1fr); */
    
  }
  .journey-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    row-gap: 8rem;
    border: none;
  }
  .journey-paragraph {
    column-span: span 1;
    font-size: 4rem;
    line-height: 6rem;
  }
  .journey-img {
    grid-column: span 0;
    width: 270px;
  }
  .img-switch {
    grid-column: auto;
    grid-row: auto;
  }
  .call-to-action-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 15rem;
  }
  .cta-banner-img {
    display: none;
  }
  .skills {
    grid-template-columns: repeat(6, 1fr);
    border: none;
  }
  .h1-skills {
    grid-column: span 6;
    font-size: 4rem;
    padding: 2rem;
  }
  .skills-img {
    max-width: 20px;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-item-grid {
    border: none;
  }
  .project-item-img {
    max-width: 150px;
  }
  .heading-projects {
    font-size: 4rem;
  }

  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading-testimonials {
    font-size: 4rem;
  }
  .project-item-paragraph {
    font-size: 4rem;
    line-height: 6rem;
  }
  .project-item-heading {
    font-size: 4.5rem;
  }
  .project-item-grid:hover {
    border: none;
    transform: none;
  }


  .testimonials-grid {
    row-gap: 2rem;
  }
  .testimonials-flex {
    border: none;
    background: none;
  }
  .testimonials-flex:hover {
    border: none;
    transform: none;
    
  }
  .testimonials-paragraph {
     font-size: 3rem;
    line-height: 6rem;
    min-height: 45rem;
  }
  .testimonials-img {
    max-width: 40px;
  }
  .testimonials-heading {
    font-size: 4.5rem;
  }
  .form-item {
    padding: 3rem 1.6rem;
    column-gap: 3rem;
  }
  .input {
    width: 90rem;
  }
  .form-user-name {
    max-width: 5.5rem;
  }
  .form-button {
    width: 40rem;
    font-size: 4rem;
    padding: 2rem 1rem;
  }
  .footer-img {
    height: 15px;
  }
  .footer-flex {
    font-size: 2.7rem;
  }
  .footer-flex-hidden {
    display: none;
  }
  .footer-grid {
    grid-template-columns: repeat(4,1fr);
  }
  .contact-me-flex-img {
    max-width: 4.9rem;
  }
  .contact-me-flex-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-me-flex-paragraph {
    font-size: 2.8rem;
  }
  .social-link-img {
    max-width: 5rem;
  }
    .social-links-flex {
    column-gap: 8rem;
    padding: 0rem;
  }
} 