@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  .hero-flex {
    row-gap: 0rem;
  }
  .p-nav {
    padding-bottom: 0.6rem;
  }
  .achievements-flex {
    width: 16rem;
    height: 14rem;
  }
  .achievements-h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
  .achievements-img {
    max-width: 40px;
  }
  .journey-paragraph {
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
  }
  .journey-grid {
    padding-top: 1rem;
    padding-bottom: 1rem;
    row-gap: 1rem;
  }
  .skills-img {
    max-width: 50px;
  }
  .text-area-form-item {
    padding: 1rem;
  }
  .call-to-action-grid {
    margin-bottom: 7rem;
  }
  .footer-flex {
    font-size: 1.2rem;
  }
  .contact-me-flex-img {
    max-width: 2rem;
  }
  .contact-me-flex-paragraph {
    font-size: 1.2rem;
  }
  .social-link-img {
    max-width: 2rem;
  }
  .social-links-flex {
    column-gap: 4rem;
    padding: 0rem;
  }
}



@media (max-width: 425px) {
  html {
    font-size: 40%;
  }
  .gamma-logo {
    /* width: 7rem; */
  }
} 