/* 
--------------------------------------------------
NAV BAR
--------------------------------------------------
*/
.nav-link-item {
  transition: all 0.3s ease-in-out;
}

.nav-link-item:hover {
  cursor: pointer;
  color: rgb(255, 56, 155);
  box-shadow: 0px 2px 4px #140014;
}

.nav-contact-me:hover {
  cursor: pointer;
  border: 1px solid rgb(255, 56, 155);
  color: rgb(255, 56, 155);
  box-shadow: 0px 0px 2px #ff23ff;
}

.achievements-flex:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 56, 156, 0.801);
  box-shadow: 0px 0px 10px #ff00dd;
  transform: rotate(-5deg);
  /* transform: scale(1.07); */

}

/* 
--------------------------------------------------
MY PROJECTS
--------------------------------------------------
*/

.project-item-grid:hover {
  border: 1px solid rgba(255, 56, 156, 0.801);
  transform: scale(1.1)

}

/* 
--------------------------------------------------
TESTIMONIALS
--------------------------------------------------
*/

.testimonials-flex:hover {
  border: 1px solid rgba(255, 56, 156, 0.801);
  transform: scale(1.1)
}